main{
    margin-left: 200px;
}

header{
    background-color: red;
    color: black;
    text-align: center;
    font-size: 32px;
    padding: 20px;
    
}

h1{
    text-align: center;
}

#thanks{
    background-color: lightblue;
    color: black;
    padding: 15px;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid black;

}

article p:first-of-type::first-letter{
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

img{
    width: 16px;
    height: 16px;
    vertical-align: top;
    margin-left: 6px;
}

#container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    padding: 10px;
}

#container p,h2{
    transition-duration: 2s;
    color: lightgray

}
#container p:first-of-type:hover, h2:hover{
    transition-duration: 2s;
    font-size: 20px;
    color:black 
}

#menuItems{
    width: 200px;
    height: 100vh;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

}

#menuItems button{
    background-color: blue;
    color: white;
    border: 2px solid black;
    padding: 12px;
    text-align: center;
}

#menuItems button:hover{
    background-color: orange;
}

#jumpMenu{
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    
}

#recentArticles:hover + #jumpMenu{
    display: block;
    background-color: orange;
}

#jumpMenu li a{
    display: block;
    padding: 8px 12px;
    color: blue;
}

#jumpMenu li a:hover{
    background-color: blue;
    color: black;
}

#menuItems #jumpMenu:hover{
    background-color: orange;
    display: block;
}









